{% extends 'base.html.twig' %}

{% block title "personne: " ~ person.firstName %}


{% block body %}
      <header>
            <div id="current-user"></div>
              <div id="title-page">
                  <h1>{{ person.firstName }}</h1>
              </div>
            </header>
            <div id="content">
              {{ form(form) }}
            </div>
{% endblock %}